#app {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#menu {
  flex: 1;
  overflow: auto;
  height: 100%;
}

#bridge-info {
  flex: 2;
  height: 100%;
}

@media screen and (max-width: 400px) {
  #app {
    flex-direction: column;
  }
}
